html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
    font-size: 13px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.9;
    color: #717171;
    background-color: #1b1b1b;
    -webkit-overflow-scrolling: touch;
}

*,
:after,
:before {
    box-sizing: inherit;
}

a {
    color: #c32865;
    transition: color 300ms ease;
    text-decoration: none;

    &:hover {
        color: #c32865;
        outline: none;
    }

    &:focus {
        text-decoration: none;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    margin: 2.6rem 0;
}

h1 {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.025em;
    margin: 0.5rem 0;
}

h2 {
    font-size: 3.15rem;
    line-height: 1.15;
    letter-spacing: 0;
}

h3 {
    font-size: 2.2rem;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

h4 {
    font-size: 1.7rem;
    line-height: 1.25;
    letter-spacing: 0.025rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 0;
}

h6 {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    text-decoration: none;
}

input[type='text'],
input[type='address'],
input[type='url'],
input[type='password'],
input[type='email'],
input[type="search"],
input[type="tel"],
textarea {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    background-color: #2f2f2f;
    border: 0;
    border-radius: 0.75rem;
    padding: 0.7rem 1rem 0.7rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    transition: all 150ms;
}

input[type='text']:focus,
input[type='address']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #c32865;
    outline: transparent;
    color: #fff;
}

input::placeholder {
    color: #999;
    opacity: 1;
}

textarea {
    resize: none;
    padding-top: 0.7rem;
    height: 210px;
    transition: all 300ms;
}

label.error {
    color: #fff;
    margin: 0.8rem 0 0;
}

.form-group {
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0.025em;
    border: 0;
    border-radius: 0;
    padding: 1rem 2.25rem 1rem;
    background-color: #c32865;
    color: #fff;
    text-decoration: none;
    transition: all 300ms ease-out !important;

    &:hover,
    &:focus {
        background-color: #f5468b;
        color: #fff;
        box-shadow: none;
        outline: transparent !important;
    }
}

.text-primary {
    color: #c32865 !important;
}

.display-2 {
    font-size: 6.54rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin: 0;
}